.header-menu.navbar-nav > li > a {padding: 8px 4px 8px 14px;height: 40px;}
.header-menu .badge-header {border-radius: 8px;padding: 2px 5px;right: 8px;top: -5px;position: relative;font-size: 12px;}
.header-menu .header-icon {display: inline;max-width: 100%;height: 22px}
.header-menu .dropdown-menu {top:42px; right: 0;left: auto;min-width: 170px !important;max-width: 290px !important;width: 280px;margin:0;padding: 0}
.header-menu .dropdown-menu {border-top-left-radius: 3px !important;border-top-right-radius: 3px !important;}
.header-menu .dropdown-menu:after {border-bottom: 6px solid #2B2E33;border-left: 6px solid rgba(0, 0, 0, 0);border-right: 6px solid rgba(0, 0, 0, 0);content: "";display: inline-block;right: 17px;position: absolute;top: -6px;}
.header-menu .dropdown-menu .dropdown-header {background: #2B2E33;color: #fff;font-family: 'Carrois Gothic';font-size: 15px;padding: 8px 15px;}
.header-menu .dropdown-menu .dropdown-header:hover {background: #2B2E33;color: #fff;cursor:default;}
.header-menu .dropdown-menu .dropdown-header p {margin:0;}
.header-menu .dropdown-menu li {background: none; padding:0;}
.header-menu .dropdown-menu li:hover {background:none;}
.header-menu .dropdown-menu li ul li{padding: 12px 10px 6px 10px;}
.header-menu .dropdown-menu li ul li:hover {background:#eaeaea;}
.header-menu .dropdown-menu li ul li a:hover{text-decoration: none;}
.header-menu .dropdown-menu li ul li .dropdown-time { color: #c4c4c4;font-size:12px;display: block;text-align: right;font-weight: 600;}
.header-menu .dropdown-menu .dropdown-footer {border-top: 1px solid #E2E2E2;color: #121212;font-family: 'Carrois Gothic';font-size: 12px;padding: 5px;background: #F8F8F8;}
.header-menu .dropdown-menu .dropdown-footer a{padding: 3px 5px;}
.header-menu .dropdown-menu .dropdown-footer a:hover{background:none;}
.header-menu .dropdown-menu > li > a.pull-left, .header-menu .dropdown-menu > li > a.pull-right {clear: none;}
.header-menu #user-header li a:hover {text-decoration: none;background-color: #eaeaea}
.header-menu #user-header .dropdown-menu {width: 178px;}
.header-menu #user-header .dropdown-menu li a {padding: 8px 15px;display: block;font-size:13px;}
.header-menu #user-header .dropdown-menu li a i {padding-right:8px;}
.header-menu #user-header .dropdown-menu:after {border-bottom: 6px solid #eaeaea;border-left: 6px solid rgba(0, 0, 0, 0);border-right: 6px solid rgba(0, 0, 0, 0);content: "";display: inline-block;right: 17px;position: absolute;top: -6px;}
.header-menu #user-header .dropdown-menu .dropdown-footer{background-color:#E9E9E9;}
.header-menu #user-header .dropdown-menu li.dropdown-footer {padding:0;}
.header-menu #user-header .dropdown-menu .dropdown-footer a{color:#575757; font-size:16px; display:inline-block;width: 56px;padding: 8px;text-align: center}
.header-menu #user-header .dropdown-menu .dropdown-footer a:hover{background-color: #dcdcdc;}
.header-menu #user-header .dropdown-menu .dropdown-footer a i {padding-right: 0;}
.header-menu .dropdown-menu .dropdown-footer {border-top: 1px solid #E2E2E2;color: #121212;font-family: 'Carrois Gothic';font-size: 12px;padding: 5px;background: #F8F8F8;}
.header-menu .dropdown-menu .dropdown-footer a{padding: 3px 5px;}
.header-menu .dropdown-menu .dropdown-footer a:hover{background:none;}

#section-crowdreview h3 {margin-top: 20px;margin-bottom: 5px;}
#section-crowdreview .panel {-webkit-transition-property : scale; -webkit-transition-duration : 0.2s; -webkit-transition-timing-function : ease-in-out; -moz-transition : all 0.2s ease-in-out;  }
#section-crowdreview .panel:hover { box-shadow: 0 0 10px rgba(0,0,0,.5);-moz-box-shadow: 0 0 10px rgba(0,0,0,.5);-webkit-box-shadow: 0 0 10px rgba(0,0,0,.5);}
#section-crowdreview .panel-heading {background-color: #F5F5F5;border-color: #fff;}
#section-crowdreview .panel-heading .author {font-size: 0.75em;}
#section-crowdreview .upvote-button {font-size:3em; cursor: pointer;}
#section-crowdreview .upvote-button:hover {color:#00A2D9}
#section-crowdreview .upvote-button.active {color:#00A2D9}

