
<%# add navigation links to this file %>
<li><a>Discover</a></li>
<li><a href="/crowd_review">Crowd Review</a></li>
<li><a>How it Works</a></li>
<li><a>Start a Campaign</a></li>
<li><a></a></li>
<li><a>Login</a></li>

